.*.swp
*.class
battlecode-1.2.3.jar
battlecode/.ant-targets-build.xml
battlecode/.installationinformation
battlecode/AllowedPackages.txt
battlecode/DisallowedClasses.txt
battlecode/MethodCosts.txt
battlecode/Uninstaller/
battlecode/art/
battlecode/bc.conf
battlecode/build.xml
battlecode/doc/
battlecode/hs_err_pid13304.log
battlecode/lib/
battlecode/maps/
battlecode/music/
battlecode/sound/
battlecode/teams/.classpath
battlecode/teams/.project
battlecode/teams/README
battlecode/teams/dummy/
battlecode/teams/examplefuncsplayer/
battlecode/teams/sample/.gitignore
battlecode/teams/wait4me/.gitignore
battlecode/test.rms
battlecode/version.txt
